.contacts {
  width: 50%;

  border-top: 1px solid $contacts-border-color;
}

.contacts__content-wrapper {
  max-width: 663px;
  margin-right: auto;
  padding-top: 73px;
  padding-right: 10.8%;
  padding-bottom: 30px;
  padding-left: 17.6%;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 36px;

  letter-spacing: 0.03em;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
}

.contacts__lists-wrapper {
  display: flex;
}

.contacts__list {
  width: 50%;
  margin: 0;
  padding: 0;

  list-style: none;

  &:first-child {
    padding-left: 4px;

    border-right: 1px solid $contacts-border-color;
  }

  &:last-child {
    padding-left: 59px;
  }
}

.contacts__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__item h3 {
  margin: 0;
  margin-bottom: 3px;

  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
}

.contacts__item address,
.contacts__item p,
.contacts__item a {
  margin: 0;

  font-size: 14px;
  font-style: normal;
  line-height: 21px;
}

.contacts__item a:hover {
  text-decoration: underline;
}

@media (max-width: $desktop-width) {
  .contacts {
    width: 100%;

    border-top: none;
  }

  .contacts__content-wrapper {
    max-width: none;
    margin-right: 0;
    padding-right: 13.1%;
    padding-left: 17.3%;
  }

  .contacts h2 {
    margin-bottom: 29px;

    font-size: 42px;
    line-height: 42px;
  }

  .contacts__list {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-left: 47px;
    }
  }

  .contacts__item {
    margin-bottom: 20px;
  }

  .contacts__item h3 {
    margin-bottom: 5px;

    font-size: 20px;
  }

  .contacts__item address,
  .contacts__item p,
  .contacts__item a {
    margin: 0;

    font-size: 18px;
    font-style: normal;
    line-height: 152.34%;
  }
}

@media (max-width: $tablet-width) {
  .contacts__content-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contacts h2 {
    margin-bottom: 31px;

    font-size: 32px;
    line-height: 32px;
  }

  .contacts__lists-wrapper {
    flex-direction: column;
  }

  .contacts__list {
    width: 100%;
    margin-bottom: 20px;


    &:first-child {
      border-right: none;
    }

    &:last-child {
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
