.contacts-wrapper {
  display: flex;

  padding-top: 80px;
}

@media (max-width: $desktop-width) {
  .contacts-wrapper {
    flex-direction: column;

    padding-top: 60px;
  }
}

@media (max-width: $tablet-width) {
  .contacts-wrapper {
    padding-top: 30px;
  }
}
