.gym__content-wrapper {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 1366px;
  min-height: 756px;
  margin: 0 auto;
  padding-top: 120px;
  padding-right: 103px;
  padding-bottom: 120px;
  padding-left: 163px;
}

.gym__text-wrapper {
  flex-shrink: 0;

  width: 357px;
  margin-right: 30px;
  padding-top: 52px;
}

.gym h2 {
  margin: 0;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
}

.gym h3 {
  margin: 0;
  margin-bottom: 42px;

  font-size: 18px;
  line-height: 150%;
}

.gym p {
  margin: 0;
  margin-bottom: 9px;

  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.gym__video-wrapper {
  position: absolute;
  bottom: 114px;
  left: 540px;

  cursor: pointer;

  background-image: url("../../img/gym-video-desktop@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("../../img/gym-video-desktop@2x.jpg");
    background-size: cover;
  }

  &:hover::after {
    transform: scale(1.1);
  }

  &::after {
    transition: transform $animation;

    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    width: 100px;
    height: 100px;

    content: "";

    background-image: url("../../img/play-button-desktop@1x.png");

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/play-button-desktop@1x.png");
      background-size: cover;
    }
  }
}

@media (max-width: $desktop-width) {
  .gym__content-wrapper {
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;

    min-height: 854px;
    padding-top: 103px;
    padding-right: 45px;
    padding-bottom: 120px;
    padding-left: 45px;
  }

  .gym__text-wrapper {
    align-self: center;
    margin-bottom: 33px;

    width: 74%;
    margin-right: 0;
    padding-top: 0;
  }

  .gym h2 {
    text-align: center;
    margin-bottom: 5px;

    font-size: 42px;
    line-height: 42px;
  }

  .gym h3 {
    text-align: center;

    margin-bottom: 35px;
  }

  .gym p {
    text-align: center;

    &:last-child {
      display: none;
    }
  }

  .gym img {
    width: 100%;
  }

  .gym__video-wrapper {
    bottom: 94px;
    left: calc(50% - 133px);

    background-image: url("../../img/gym-video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/gym-video-tablet@2x.jpg");
    }

    &::after {
      top: calc(50% - 36.5px);
      left: calc(50% - 36.5px);

      width: 73px;
      height: 73px;

      background-image: url("../../img/play-button-tablet@1x.png");

      @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
        background-image: url("../../img/play-button-tablet@2x.png");
      }
    }
  }

  .gym__video-wrapper video {
    width: 266px;
    height: 167px;
  }
}

@media (max-width: $tablet-width) {
  .gym__content-wrapper {
    min-height: 925px;
    padding-top: 71px;
    padding-right: 0;
    padding-bottom: 71px;
    padding-left: 0;
    position: static;
  }

  .gym__text-wrapper {
    align-self: center;
    margin-bottom: 23px;

    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .gym h2 {
    text-align: left;
    margin-bottom: 5px;

    font-size: 32px;
    line-height: 32px;
  }

  .gym h3 {
    text-align: left;

    margin-bottom: 24px;
  }

  .gym p {
    text-align: left;
    padding-right: 30px;
  }

  .gym img {
    margin-bottom: 34px;
  }

  .gym__video-wrapper {
    left: 0;
    bottom: 0;
    position: relative;

    background-image: url("../../img/gym-video-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../../img/gym-video-mobile@2x.jpg");
    }
  }

  .gym__video-wrapper video {
    width: 100%;
    height: auto;
  }
}
