.promo {

}

.promo__content-wrapper {
  max-width: 1160px;
  min-height: 462px;
  margin: 0 auto;
}

.promo h2 {
  text-align: center;
  letter-spacing: 0.03em;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
}

.promo__unlimit-wrapper {

}

.promo__unlimit {

}

.promo__unlimit-unit {

}

.promo__unlimit-price {

}

.promo__more {

}

.promo__more--unlimit {

}

.promo__illustration {

}

.promo__item-wrapper {

}

.promo__item {

}

.promo__item h3 {

}

.promo__item p {

}

.promo__item a {

}
