.trainers {
  padding-top: 123px;
}

.trainers__content-wrapper {
  position: relative;

  max-width: 1272px;
  margin: 0 auto;
}

.trainers h2 {
  display: block;

  max-width: 1166px;
  margin: 0 auto;
  margin-bottom: 47px;
  padding-left: 5px;

  letter-spacing: 0.03em;

  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
}


.trainers__controls {
  position: absolute;
  top: 58.1%;

  width: 16px;
  height: 32px;

  cursor: pointer;
  transition: transform $animation;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

  font-size: 0;

  &:hover {
    transform: scale(1.5);
  }

  &--prev {
    left: 0;

    background-image: url("../../img/icon-left-arrow.svg");
  }

  &--next {
    right: 0;

    background-image: url("../../img/icon-right-arrow.svg");
  }
}

@media (max-width: $slider-breakpoint-width) {
  .trainers__content-wrapper {
    margin: 0 75px;
  }
}

@media (max-width: $desktop-width) {
  .trainers {
    padding-top: 100px;
  }

  .trainers h2 {
    margin-bottom: 40px;
    padding: 0;

    text-align: center;

    font-size: 42px;
    line-height: 42px;
  }

  .trainers__content-wrapper {
    margin: 0 45px;
  }

  .trainers__controls {
    top: 56.6%;
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    padding-top: 72px;
  }

  .trainers__content-wrapper {
    margin: 0 15px;
  }

  .trainers h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .trainers__controls {
    top: 57.3%;

    width: 10px;
    height: 19px;
  }
}
