html {
  box-sizing: border-box;
  height: 100%;
}

body {
  position: relative;

  min-width: 320px;
  height: 100%;

  color: $default-color;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
}

main {
  min-height: calc(100vh - 108px);

  @media (max-width: $desktop-width) {
    min-height: calc(100vh - 114px);
  }

  @media (max-width: $tablet-width) {
    min-height: calc(100vh - 260px);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  color: $default-color;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  border-radius: 0;
}
